body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #80c5db;
    color: #050303;
    padding: 1rem 0;
    text-align: center;
}

nav {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

nav a {
    color: #0d0c0c;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    background-color: #575757;
}

.container {
    width: 80%;
    margin: 2rem auto;
}

.profile, .projects, .contact {
    background-color: #fff;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.projects img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: #fff;
}
